@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-rgb: 248, 250, 252; /* slate-50 */
  --foreground-rgb: 15, 23, 42;    /* slate-900 */
}

.dark {
  --background-rgb: 2, 6, 23;     /* slate-950 */
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
  transition: background-color 0.5s ease, color 0.5s ease;
}


@layer base {
  body {
    background-image: radial-gradient(
      circle at top center,
      rgba(var(--foreground-rgb), 0.03),
      transparent
    );
  }
}


[data-sonner-toast] {
  background-color: rgb(var(--toast-bg)) !important;
  border-color: rgb(var(--toast-border)) !important;
}

[data-sonner-toast] [data-title] {
  color: var(--normal-text) !important;
}

[data-sonner-toast] [data-description] {
  color: var(--normal-text) !important;
  opacity: 0.8;
}